body {
    background-color: #bebebe;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    margin: 8px;
}

    /* Titre */
.main-title {
    background-color: #00bd63;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid black;
}

.main-title > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

body.main-title {
    margin: 0px;
}

html.main-title {
    margin-top: 0px;
}

    /* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #00bd63;
    border-radius: 15px;
    border: 2px solid black;
}

.menu > * {
    flex: 1;
    text-align: center;
}